<div>
    <h1><%= blueprint.blueprintName %></h1>
    <p>Created by: <%= user.email%></p>
    <h2>Job: <%= job.position%></h2>
    <p><%= job.description%></p>
    <p><%= job.qualifications%></p>
    <hr>
    <%for(let i=0; i<blueprint.experiences.length; i++){ %>
        <p><%= blueprint.experiences[i]%></p>
    <%}%>

    <p><%= blueprint.nextSteps%></p>


    <a href="/blueprints">Back</a>
</div>