<%- include('../partials/header.ejs') %>
</head>
<body>
    <br>
    <div class="container">
        <h1><%= blueprint.blueprintName%></h1>
        <small><p>Created by: <%= user.email%></p></small>
        <h2>Job: <%= job.position%></h2>
        <p><%= job.description%></p>
        <p><%= job.qualifications%></p>
        <hr>
        <%for(let i=0; i<blueprint.experiences.length; i++){ %>
            <p>Experience # <%= i+1 %></p>
            <p>Experience Name: <%= blueprint.experiences[i].experienceName %></p>
            <p>Role: <%= blueprint.experiences[i].role %> </p>
            <p>Responsibilities: <%= blueprint.experiences[i].Responsibilities %></p>
            <p>Duration: <%= blueprint.experiences[i].years %> years</p>
            <p>Location: <%= blueprint.experiences[i].location %></p>
        <%}%>
        <p><%= blueprint.nextSteps%></p>
        <a href="/blueprints" class="back-button">Back</a>
    </div>
</body>

<style>
    body {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
        margin: 0;
        padding: 0;
    }
    
    .container {
        width: 70%;
        height: 1500px;
        margin: 100px auto;
        padding: 0 20px;
        background-color: #f9f9f9;
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
        color: #15639f;
        font-size: 36px;
        margin-bottom: 10px;
    }
    h2 {
        color: #333;
        font-size: 24px;
        margin-bottom: 10px;
    }
    p {
        color: #666;
        font-size: 16px;
        margin-bottom: 10px;
    }
    small {
        color: #999;
        font-size: 14px;
    }
    hr {
        border: 1px solid #ccc;
        margin: 20px 0;
    }
    /* a {
        color: #15639f;
        text-decoration: none;
    } */
    a:hover {
        text-decoration: underline;
    }
    .back-button {
        width: 80%;
        padding: 5px;
        font-size: 15px;
        color: #fff;
        background-color: #15639f;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }

    .back-button:hover {
        background-color: #0d4a75;
    }
</style>
<div>
    <h1><%= blueprint.blueprintName %></h1>
    <p>Created by: <%= user.email %></p>
    <h2>Job: <%= job.position %></h2>
    <p><%= job.description %></p>
    <p><%= job.qualifications %></p>
    <hr>
    <%for(let i=0; i<blueprint.experiences.length; i++){ %>
        <p>Experience # <%= i+1 %></p>
        <p>Experience Name: <%= blueprint.experiences[i].experienceName %></p>
        <p>Role: <%= blueprint.experiences[i].role %> </p>
        <p>Responsibilities: <%= blueprint.experiences[i].Responsibilities %></p>
        <p>Duration: <%= blueprint.experiences[i].years %> years</p>
        <p>Location: <%= blueprint.experiences[i].location %></p>
    <%}%>

    <p>Next steps: <%= blueprint.nextSteps %></p>


    <a href="/blueprints">Back</a>
</div>